.custom-scrollbar::-webkit-scrollbar {
  height: 7px; /* Adjust the scrollbar thickness */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0; /* Adds margin above the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #10b981; /* Changes thumb color on hover */
}
